:host {
  @media(min-width: 768px) {
    width: calc(50% - 20px);
  }
  @media(min-width: 1440px) {
    width: calc(25% - 20px);
  }

  nz-card {
    height: 100%;
    margin-bottom: 25px;
    @media(min-width: 768px) {
      margin-bottom: 0;
    }
    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}
