<div class="img-container">
<!--  <img src="" alt="">-->
  <img [ngSrc]="'/assets/images/no_image.jpg'" width="130" height="130" alt="">
</div>
<div class="service-info-actions">
  <div>
    <h3>ΔΕΗ</h3>
    <button nz-button nzType="dashed" nz-dropdown
            [nzDropdownMenu]="actionsMenu" nzTrigger="click">
      Ενέργειες
      <span nz-icon nzType="down" nzTheme="outline"></span>
    </button>
    <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <button nz-button nzType="text" class="service-action-btn" (click)="onAddPayment()">Προσθήκη λογαριασμού</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="text" class="service-action-btn" (click)="onNameEdit()">Επεγεργασία ονόματος υπηρεσίας</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="text" class="service-action-btn" (click)="onOnlinePaymentLinkEdit()">Επεξεργασία συνδέσμου ηλεκτρονικής πληρωμής</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="text" class="service-action-btn">Μεταφόρτωση φωτογραφίας υπηρεσίας</button>
        </li>
        <li nz-menu-item>
          <button nz-button nzType="text" nzDanger class="service-action-btn" (click)="onDelete()">Διαγραφή υπηρεσίας</button>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <span>Συνολικό Οφειλούμενο Ποσό (&euro;): 82</span>
  <span>Τελευταία Πληρωμή: 22/09/2022</span>
  <span>Σύνδεσμος Ηλεκρονικής Πληρωμής: <a href="https://www.dei.gr/el/gia-to-spiti/ypostiriksi-epikoinonia/ilektroniki-pliromi-logariasmou/" target="_blank" rel="noreferrer">https://www.dei.gr/el/gia-to-spiti/ypostiriksi-epikoinonia/ilektroniki-pliromi-logariasmou/</a></span>
</div>
