:host {
  .search-add-container {
    display: flex;
    flex-direction: column;
    @media(min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    [nz-input] {
      margin-bottom: 10px;
      @media(min-width: 600px) {
        margin-bottom: 0;
      }
    }

    button {
      margin-left: 0 !important;
    }
  }

  .search-add-container,
  .add-service-container {
    margin-bottom: 10px;
    @media(min-width: 600px) {
      margin-bottom: 15px;
    }
    @media(min-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  .add-service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: inline-flex;
      button {
        margin-left: 10px;
      }
    }
  }

  [nz-input] {
    @media(min-width: 600px) {
      width: 300px;
    }
  }

  nz-table {
    margin-bottom: 25px;
  }

  th:first-of-type {
    width: 80%;

    &::before {
      display: none;
    }
  }

  td:last-of-type {
    text-align: right;
  }

  .load-more-btn {
    display: block;
    margin: auto;
  }
}
