:host {
  .hero-section-container {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    @media(min-width: 768px) {
      height: 300px;
    }
    @media(min-width: 960px) {
      height: 330px;
    }
    @media(min-width: 1280px) {
      height: 360px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, .45);
      h2 {
        font-size: 18px;
        width: 90%;
        margin-bottom: 0;
        color: #fff;
        span {
          border-bottom: 2px solid #1890ff;
        }
        @media(min-width: 768px) {
          font-size: 20px;
          width: 500px;
        }
        @media(min-width: 960px) {
          font-size: 22px;
          width: 600px;
        }
        @media(min-width: 1280px) {
          font-size: 24px;
          width: 700px;
        }
        @media(min-width: 1440px) {
          font-size: 26px;
        }
      }
    }
  }
}
