<ps-page-header title="ΟΙ ΥΠΗΡΕΣΙΕΣ ΣΟΥ" iconType="apartment"></ps-page-header>

<div class="search-add-container">
  <input type="text" nz-input nzSearch placeholder="Ψάξε μια υπηρεσία"/>
  <button nz-button nzType="primary">Προσθήκη Υπηρεσίας</button>
</div>

<nz-table [nzData]="services" [nzShowPagination]="false">
  <thead>
    <tr>
      <th>Υπηρεσίες</th>
      <th aria-hidden="true"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.name }}</td>
      <td>
        <button nz-button nzType="primary" nzDanger nz-popconfirm
                nzOkText="ΟΚ" nzCancelText="Ακύρωση" [nzPopconfirmOverlayStyle]="{ 'width': '280px' }"
                nzPopconfirmTitle="Είσαι σίγουρος οτι θέλεις να διαγράψεις αυτή την υπηρεσία;"
                (nzOnConfirm)="confirmServiceDeletion()">Διαγραφή</button>
      </td>
    </tr>
    <tr>
      <td colspan="100" class="load-more-col">
        <button nz-button class="load-more-btn">Φόρτωσε Περισσότερα</button>
      </td>
    </tr>
  </tbody>
</nz-table>
