:host {
  .search-add-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    @media(min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    [nz-input] {
      margin-bottom: 10px;
      @media(min-width: 600px) {
        margin-bottom: 0;
      }
    }

    button {
      margin-left: 0 !important;
    }
  }

  [nz-input] {
    @media(min-width: 600px) {
      width: 300px;
    }
  }

  th:first-of-type {
    width: 80%;

    &::before {
      display: none;
    }
  }

  td:last-of-type {
    text-align: right;
  }

  .load-more-col {
    border-bottom: none;
  }

  .load-more-btn {
    display: block;
    margin: auto;
  }
}
