<div class="img-container">
<!--  <img src="" alt="">-->
  <img [ngSrc]="'/assets/images/no_image.jpg'" width="130" height="130" alt="">
</div>
<div class="service-info-actions">
  <span>Οφειλούμενο Ποσό (&euro;): 82<span nz-icon nzType="edit" nzTheme="outline" nz-tooltip="Επεξεργασία ονόματος"></span></span>
  <span>Τελευταία Πληρωμή: 22/09/2022</span>
  <span>Σύνδεσμος Ηλεκρονικής Πληρωμής: <a href="https://www.dei.gr/el/gia-to-spiti/ypostiriksi-epikoinonia/ilektroniki-pliromi-logariasmou/" target="_blank" rel="noreferrer">https://www.dei.gr/el/gia-to-spiti/ypostiriksi-epikoinonia/ilektroniki-pliromi-logariasmou/</a><span nz-icon nzType="edit" nzTheme="outline" nz-tooltip="Επεξεργασία συνδέσμου ηλεκτρονικής πληρωμής"></span></span>
  <div>
    <button nz-button nzType="primary">Αλλαγή Φωτογραφίας <span nz-icon nzType="upload" nzTheme="outline"></span></button>
    <button nz-button nzType="primary" nzDanger>Διαγραφή Υπηρεσίας <span nz-icon nzType="delete" nzTheme="outline"></span></button>
  </div>
</div>
