<h3>ΠΑΡΕΧΟΜΕΝΕΣ ΥΠΗΡΕΣΙΕΣ</h3>
<section>
  <nz-card nzTitle="ΕΥΡΕΣΗ ΟΦΕΙΛΟΥΜΕΝΩΝ ΠΛΗΡΩΜΩΝ" nzType="inner">
    <p>Δείτε άμεσα τις οφειλές σας</p>
  </nz-card>
  <nz-card nzTitle="ΑΠΟΘΗΚΕΥΣΗ ΑΠΟΔΕΙΞΕΩΝ ΛΟΓΑΡΙΑΣΜΩΝ" nzType="inner">
    <p>Αποθηκεύστε τις αποδείξεις σας ώστε να τις έχετε συγκεντρωμένες και να μην τις χάνετε ποτέ!</p>
  </nz-card>
  <nz-card nzTitle="ΑΠΟΘΗΚΕΥΣΗ ΣΥΝΔΕΣΜΩΝ ΤΩΝ ΥΠΗΡΕΣΙΩΝ ΓΙΑ ΗΛΕΚΤΡΟΝΙΚΕΣ ΠΛΗΡΩΜΕΣ" nzType="inner">
    <p>Κρατήστε συγκεντρωμένους τους συνδέσμους των υπηρεσιών που πληρώνετε για μια πιο γρήγορη εύρεση αυτών</p>
  </nz-card>
  <nz-card nzTitle="ΑΠΟΘΗΚΕΥΣΗ ΚΟΝΤΙΝΟΤΕΡΩΝ ΚΑΤΑΣΤΗΜΑΤΩΝ ΓΙΑ ΠΛΗΡΩΜΗ ΔΙΑ ΖΩΣΗΣ" nzType="inner">
    <p>Δεν θέλετε να πληρώσετε ηλεκτρονικά; Σας έχουμε τη λύση! Κρατήστε αποθηκευμένα τα κοντινότερα καταστήματα για τις αντίστοιχες υπηρεσίες έχοντας τη δυνατότητα να κατευθυνθείτε σε αυτά ενεργοποιώντας το GPS σας</p>
  </nz-card>
</section>
