<td>
  <div *ngIf="yourService.imageUrl; else noImageTpl" class="img-container">
    <img [ngSrc]="yourService.imageUrl" width="30" height="30" alt="Λογότυπο {{ yourService.name }}">
  </div>
  <ng-template #noImageTpl>
    <div class="no-image-cyrcle">
      <span>{{ yourService.name | firstTwoLetters }}</span>
    </div>
  </ng-template>
  <span class="service-name">{{ yourService.name }}</span>
</td>
<td>
  <a routerLink="/your-services/{{ yourService.name }}" nz-button nzType="link">Περισσότερα</a>
</td>
