:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;

  .img-container,
  .no-image-cyrcle {
    width: 35px;
    height: 35px;
  }

  td {
    display: flex;

    &:first-of-type {
      align-items: center;
      > .no-image-cyrcle {
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #1890ff;
        border-radius: 100%;
      }
      > .service-name {
        margin-left: 15px;
      }
    }

    &:last-of-type {
      flex-direction: column;
      @media(min-width: 600px) {
        flex-direction: row;
      }

      button:not(:last-of-type) {
        margin-bottom: 10px;
        @media(min-width: 600px) {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}
