* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  padding: 15px 0;
  margin: auto !important;
  &::-webkit-scrollbar {
    width: 10px;
    background: #c0c0c0;
  }
  &::-webkit-scrollbar-thumb {
    background: #1890ff;
  }
}

li {
  list-style-type: none;
}

// OVERWRITE ANT STYLES
[nz-button].profile-link,
[nz-button].profile-link:hover {
  color: #262626;
}

.ant-drawer-body {
  > .mobile-menu-avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > nz-avatar {
      margin-bottom: 12px;
    }

    > span {
      font-size: 16px;
    }
  }
  > nz-divider {
    margin: 16px 0;
  }
  > [nz-button] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}

.provided-service-item-card {
  display: flex;
  flex-direction: column;
  .ant-card-head-title {
    text-align: center;
    overflow: auto !important;
    white-space: normal !important;
    text-overflow: unset !important;
  }
  > .ant-card-actions {
    margin-top: auto;
    > li {
      margin: 0;
    }
  }
}

.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  padding: 8px 24px 8px 0 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: inherit !important;
}
