* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  padding: 15px 0;
  margin: auto !important;
}

li {
  list-style-type: none;
}

// OVERWRITE ANT STYLES
.ant-card-head-title {
  overflow: auto !important;
  white-space: normal !important;
  text-overflow: unset !important;
}
