:host {
  padding-right: 10px;

  .not-mobile-navigation-container {
    display: flex;
    align-items: center;
    ul {
      margin-bottom: 0;
      &.menu {
        display: flex;
        li:not(:last-of-type) {
          margin-right: 10px;
        }
        a {
          font-weight: 500;
          position: relative;
          padding: 10px 15px;
          color: #262626;
          transition: .4s ease-in-out;
          &:hover, &.active {
            color: #fff;
            background: #1890ff;
          }
        }
      }
    }
    nz-avatar {
      margin-left: 15px;
      cursor: pointer;
    }
  }

  .mobile-menu-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    span {
      font-size: 22px;
    }
  }
}
