<h4>Στοιχεία Πληρωμών</h4>
<nz-table>
  <thead>
    <tr>
      <th>Περίοδος λογαριασμού</th>
      <th>Ημερομηνία Πληρωμής</th>
      <th>Ποσό (&euro;)</th>
      <th>Ενέργειες</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>26/09/2023 - 25/10/2023</td>
      <td>30/10/2023</td>
      <td>33</td>
      <td><a nz-button nzType="link">Λήψη αποδεικτικού πληρωμής</a></td>
    </tr>
    <tr>
      <td>26/10/2023 - 25/11/2023</td>
      <td>Δεν πληρώθηκε</td>
      <td>32</td>
      <td><button nz-button nzType="dashed">Επισήμανση ως πληρωμένη</button></td>
    </tr>
  </tbody>
</nz-table>
