<p>Συμπλήρωσε το email σου και θα σου αποσταλεί ενα email για να αλλάξεις τον κωδικό</p>
<form nz-form [formGroup]="forgotPasswordForm">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <input nz-input formControlName="email" aria-label="email" type="email" placeholder="E-mail" required />
      <ng-template #emailErrorTpl>
        <ng-container *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Το πεδίο είναι υποχρεωτικό!</ng-container>
        <ng-container *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Μη έγκυρο e-mail!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Ακύρωση</button>
  <button nz-button nzType="primary" [disabled]="forgotPasswordForm.invalid">Υποβολή</button>
</div>
